@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  color: #4c5270;
  /* this is not what I want, why can't I get the fflux image to work - tried everything I could find */
  /* background-image: linear-gradient(to top, #d16ba5, #b78cd5, #93abee, #7dc4f2, #8ad8ea, #8fe0e7, #99e7e3, #a6edde, #93eddd, #7deede, #61eede, #36eee0); */
  background-image: url('ffflux.svg');
  /* background-attachment: fixed; */
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  height: 100vh;
  width: 100vw;
}

body ul li {
  padding: .5rem;
  font-size: 1.25rem;
}

.nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav a {
  color: #f652a0;
}

.nav a:visited {
  color: #f652a0;
}

a {
  color: #4c5270;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #4c5270;
  text-decoration: none;
  cursor: pointer;
}

.custom-select {
  border-radius: 8px 0 0 8px;
}

.input-group-text {
  border-radius: 0 8px 8px 0 !important;
}

.btn {
  border-color: #4c5270;
  background-color: #f652a0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-control {
  width: 50%;
}